<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.zwc.mapper.TSubjectMapper">
  <resultMap id="BaseResultMap" type="com.example.zwc.pojo.TSubject">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="school_name" jdbcType="VARCHAR" property="schoolName" />
    <result column="school_content" jdbcType="VARCHAR" property="schoolContent" />
    <result column="subject_name" jdbcType="VARCHAR" property="subjectName" />
    <result column="subject_content" jdbcType="VARCHAR" property="subjectContent" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>